# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# PyCharm project settings
.idea/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
/catstuff/logs/
catstuff/config/sample.yml
catstuff/logs/
catstuff/plugins/vars/__init__.py
catstuff/plugins/vars/main.py
catstuff/plugins/vars/vars.plugin
docs/notes/img/
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/01 - One More Night.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/02 - Payphone (with Wiz Khalifa).flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/03 - Day Light.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/04 - Lucky Strike.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/05 - The Man Who Never Lied.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/06 - Love Somebody.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/07 - Ladykiller.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/08 - Fortune Teller.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/09 - Sad.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/10 - Tickets.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/11 - Doin' Dirt.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/12 - Beautiful Goodbye.flac
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/Maroon 5 - Overexposed.jpg
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [FLAC]/Overexposed.cue
tests/musicbrainz/tests/files/Overexposed (2012)/Maroon 5 - Overexposed (2012) [MP3 V0]/
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/01 Harder To Breathe.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/02 This Love.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/03 Shiver.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/04 She Will Be Loved.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/05 Tangled.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/06 The Sun.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/07 Must Get Out.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/08 Sunday Morning.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/09 Secret.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/10 Through With You.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/11 Not Coming Home.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/12 Sweetest Goodbye.flac
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/Maroon 5 - Songs About Jane.jpg
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/Maroon 5 - Songs About Jane.m3u
tests/musicbrainz/tests/files/Songs About Jane (2002)/Maroon 5 - Songs About Jane (2002) [FLAC]/Songs About Jane.cue
