nose
sphinx

# ------------ Core ----------------------------
pyyaml
pymongo
pyparsing

# ------------ Testing ----------------------------
# musicbrainz api
# musicbrainzngs

# taglib wrapper -- requires taglib library to be installed
# http://taglib.github.io/
# pytaglib

# ------------ DEPRECATED ----------------------------
# reads audio only, no tagging
# tinytag